* {
  box-sizing: border-box;
}

.container .baslik{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.arac img{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.arac{
    position: relative;
    width: 100%;

}




.arac a{
  position: absolute;
  top: 90%;
  left: 47.5%;
  padding:8px 10px;
  color:rgb(255, 255, 255);
  background-color:rgb(72, 22, 220);
  opacity:0.6;
  font-size:14pt; 
  text-align: center;
  text-decoration: none;
  border:none;
  border-radius: 4px;;
}

.arac a:hover{
  background-color: white;
  color:black;
  opacity: 1;
}